body{
  margin: 0;
}
main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  height: 100vh;
  margin: none;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation{
  text-align: center
  
}
h6, h1, p, button{
  font-family: 'Poppins', sans-serif;
}
.main-section-content{
  height: 95%;
  width: 85%;
  margin: auto;
}
button{
  background-color: #D1AF56;
  border: 3px solid black;
  height: 16%;
  width: 28%;
  margin: 7% 1%;
  padding: 1%;
}
.button-name{
  display:inline;
  font-size: 15px;
  margin: auto 7%;
}
.button-icon{
  height: 15px;
  width: 15px;
  display: inline;
}
.bio{
  font-size: 1rem;
  margin: 1%;
}
h1{
  font-size: 2rem;
  margin: 4% 0;
}
h6{
  font-size: 1rem;
  margin: 3%;
}
.icon{
  max-height: 20%;
}
.main-section{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: #D1AF56;
  height: 33.33333333333333vh;
  width: 40vw;
}

.profile{
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-color: #A74659;
  height: calc(1/3);
  width: 20vw;
}

.experience{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: #3F5F9D;
  height: calc(1/3);
  width: 20vw;

}

.education{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #437576;
  height: calc(1/3);
  width: 20vw;
}

.blog{
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  background-color: #97AECF;
  height: calc(1/3);
  width: 20vw;
}

.social-menu{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background-color: #A74659;
  height: calc(1/3);
  width: 20vw;
}

.contact{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-color: #3F5F9D;
  height: calc(1/3);
  width: 20vw;
}

.portfolio{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  background-color: #D1AF56;
  height: calc(1/3);
  width: 20vw;
}

.main-photo{
  grid-column: 4 / span 2;
  grid-row: 1 / span 3;
  background-color: yellow;
  background: url(images/thundercat.png) no-repeat;
  background-size: cover;
}
/*img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}*/

@media screen and (max-width: 1240px) {

main{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr); 
}
h1{
  margin:2% 0%;
}
button{
  height:21%;
  margin:1% 1%;
}
.icon{
  max-height: 40px;
}
.main-section{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: #D1AF56;
  height: 20vh;
  width: 50vw;
}
.profile{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  height: 20vh;
  width: 50vw;
}

.experience{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  height: calc(1/5);
  width: 25vw;
}



.education{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  height: calc(1/5);
  width: 25vw;
}

.blog{
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  height: calc(1/5);
  width: 25vw;
}

.social-menu{
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  height: calc(1/5);
  width: 25vw;
}

.contact{
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  height: calc(1/5);
  width: 25vw;
}

.portfolio{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  height: calc(1/5);
  width: 25vw;
}

.main-photo{
  grid-column: 3 / span 2;
  grid-row: 1 / span 5;
  background-size: cover;
}
}

@media screen and (max-width: 1075px){
  main{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 200vh;
  width: 100vw; 
}
h1{
  font-size:1rem;
}
.bio{
  font-size:.8rem;
}
.icon{
  max-height: 40px;
}
.main-section{
  grid-column: 1 / span 2;
  grid-row: 6 / span 1;
  background-color: #D1AF56;
  width: 100vw;
}
.profile{
  grid-column: 1 / span 2;
  grid-row: 7 / span 1;
  width: 100vw;
}

.experience{
  grid-column: 1 / span 1;
  grid-row: 8 / span 1;
  height: calc(1/5);
  width: 50vw;
}
.education{
  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
  width: 50vw;
}

.blog{
  grid-column: 1 / span 1;
  grid-row: 9 / span 1;
  width: 50vw;
}

.social-menu{
  grid-column: 1 / span 1;
  grid-row: 10 / span 1;
  width: 50vw;
}

.contact{
  grid-column: 2 / span 1;
  grid-row: 10 / span 1;
  width: 50vw;
}

.portfolio{
  grid-column: 2 / span 1;
  grid-row: 9 / span 1;
  width: 50vw;

}

.main-photo{
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
  background-size: cover;
}
}